body {
    background-color: rgb(127, 146, 137);
    background-size: 100%;
    color: aliceblue;
    background-image: url("imagenes/fondo.png");
    background-attachment: fixed;

}

.color_div1 {
    background-color: rgb(84, 93, 89);
    width: 500px;
}

.color_div2 {
    background-color: rgb(84, 93, 89);
    margin: 10px 10px 10px 10px;
    width: 480px;
}

.color_div3 {
    background-color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
}

li a {
    display: block;
    color: #f4f0f0;
    padding: 8px 16px;
    /*     text-decoration: beige; */
}

li a:hover {
    background-color: #d3d3d3;
    color: rgb(0, 0, 0);
}

.centrado_texto {
    text-align: center;

}

.sombra {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

.sombra_2 {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bordeado {
    border: 2px solid rgb(0, 0, 0);

}

.bordeado_2 {
    border-radius: 5px;
    border: 4px ridge rgb(121, 152, 139);
    margin-bottom: 40px;

}

#menu {
    width: 25%;
    float: left;
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0%;
}

#menu_fantasma {
    display: block;
    width: 25%;
    float: left;
    opacity: 0;
}

#contenido {
    width: 75%;
    float: left;
}

#contenido_menu {
    padding: 10px;
    margin-right: 40px;
    background-color: rgb(64, 75, 72);
    height: 100%;
}

.tipo_titulos {
    font-family: 'Noticia Text', serif;
    font-size: larger;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tipo_titulos_2 {
    font-family: 'Noticia Text', serif;
    font-size: xx-large;
}


.tipo_info {
    font-family: 'Sarabun', sans-serif;
    margin-left: 0px;
}

.fondo_oscuro {
    background-color: rgb(0, 0, 0);
}

.espacios {
    margin: 10px 0px 80px 0px;
    border-radius: 5px;
    padding: 15px 15px 15px 35px;
}

.espacios_2 {
    margin: 25px 0% 25px 0px;
}

.espacios_3 {
    margin: 0px 0% 400px 0px;
}

input[type=text],
select,
textarea {
    background-color: #c9cdc9;
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal
}

input[type=submit] {
    background-color: #02925d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3e583e;
}


.contacto {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.padiing_botton {
    padding-bottom: 16%;
}

.invisibilidad {
    visibility: hidden;
}