body {
    background-size: 100%;
    color: aliceblue;
    background-image: url("imagenes/fondo.jpg");
    background-attachment: fixed;
}

.datos-estilo {
    font-family: 'Sarabun', sans-serif;
    margin: 0px 0px 100px 300px;
    border-radius: 5px;
    padding: px 0px 0px 35px;
    background-color: rgb(84, 93, 89);
    width: 480px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
}

li a {
    display: block;
    color: #f4f0f0;
    padding: 8px 16px;
}

li a:hover {
    background-color: #d3d3d3;
    color: rgb(84, 93, 89);
}

.centrado-texto {
    text-align: center;
}

.sombra {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

.bordeado {
    border: 2px solid rgb(0, 0, 0);

}

#menu {
    width: 25%;
    float: left;
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0%;
}

#contenido-menu {
    padding: 10px;
    margin-right: 40px;
    background-color: rgb(64, 75, 72);
    height: 100%;
}

.tipo-titulos {
    font-family: 'Noticia Text', serif;
    font-size: larger;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

.recuadro-trabajo {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 4px ridge rgb(121, 152, 139);
    margin-bottom: 40px;
    margin: 5px 0% 20px 300px;
}

.tipo-titulos-2 {
    font-family: 'Noticia Text', serif;
    font-size: xx-large;
    margin: 50px 0% 10px 300px;
}

.fondo-oscuro {
    background-color: rgb(0, 0, 0);
}

.espacios-3 {
    margin: 50px 0% 10px 300px;
}

.espacios-div-2-titulos {
    margin: 10px 0% 5px 300px;
}

input[type=text],
select,
textarea {
    background-color: #c9cdc9;
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal
}

input[type=submit] {
    background-color: #02925d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3e583e;
}

.contacto {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.padiing-botton {
    padding-bottom: 16%;
}

.boton-enviado {
    font-family: 'Noticia Text', serif;
    font-size: xx-large;
    background-color: rgb(84, 93, 89);
    margin: 10px 10px 10px 10px;
    width: 480px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
    text-align: center;
    visibility: hidden;
    margin: 25px 0% 25px 0px;
}