body {
    background-color: rgb(127, 146, 137);
    color: aliceblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #f4f0f0;
    padding: 8px 16px;
    text-decoration: beige;
}

li a:hover {
    background-color: #d3d3d3;
    color: rgb(0, 0, 0);
}

.centrado_texto {
    text-align: center;
}

.sombra {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

.bordeado {
    border: 2px solid rgb(0, 0, 0);

}

#menu {
    width: 25%;
    float: left;
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0%;
}

#menu_fantasma {
    display: block;
    width: 25%;
    float: left;
}

#contenido {
    width: 75%;
    float: left;
}

#contenido_menu {
    padding: 10px;
    margin-right: 40px;
    background-color: rgb(64, 75, 72);
    height: 100%;

}

.tipo_titulos {
    font-family: 'Noticia Text', serif;
}

.tipo_info {
    font-family: 'Sarabun', sans-serif;
}